URL
https://www.gofundme.com/f/plz-help-mohit-raise-funds-to-fight-blood-cancer
https://www.gofundme.com/f/supporting-robin-kadyans-family
https://www.gofundme.com/f/to-compensate-adil-abbass-old-parents
https://www.gofundme.com/f/to-support-pardeep-choudharys-wife-and-his-son